metaapi-cloud-sdk==27.0.4
fastapi[all]
uvicorn[standard]
gunicorn<21.0,>=19.2.0
google-cloud-firestore
google-cloud-kms
google-cloud-logging
google-cloud-secret-manager
google-crc32c
functions-framework==3.0.0
